@import url("https://fonts.googleapis.com/css?family=Poppins:700");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 24px;
}
button {
  padding: 1em 2em;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
